body, html {
  height: 100%;
  padding:0;
  margin: 0;
  font-family: helvetica;
}

.row {
  margin: 0;
}

/*****lANDING PAGE*****/

.parallax {
  /* The image used */
  background-image: url("images/coffee.jpeg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron{
  margin: 0;
  padding:0;
  color: white;
  text-align: center;
}



.jumbotron h1{
  font-family: 'Playfair Display', serif;
  font-size: 7rem;
}

.jumbotron h2 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
}

.jumbotron hr {
  color: lightgray;
  width: 40%;
  margin: 0 auto;
}

/******PROJECTS********/
#projects {
  margin: 5em auto;
}

.container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  padding-bottom: 1em;
  text-align: center;
}

.thumbnail {
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s eas-out;
  transition: all 0.5s ease-out;
}

.thumbnail > a img {
  max-height:300px;
}

.thumbnail a:hover {
  text-decoration: none;
}

.thumbnail:hover{
   -moz-box-shadow:    5px 5px 5px #888888;
  -webkit-box-shadow: 5px 5px 5px #888888;
  box-shadow:         5px 5px 5px #888888;
}

span {
font-weight: bold;
}

/*******ABOUT ME******/

#about {
/*    background-color: #2F4F4F;*/
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#mePic{
  border-radius: 5%;
  width: 90%;
  -moz-box-shadow:    3px 3px 10px 1px black;
  -webkit-box-shadow: 3px 3px 10px 1px black;
  box-shadow:         3px 3px 10px 1px black;
}

#aboutText {
  margin-top: 2em;
  font-size: 1.2em;
}

#contactLinks{
  display: flex;
  justify-content: center;
  padding: 2em;
}

#contactLinks a {
  color: white;
  margin: 0 1em;
}

#contactLinks a:hover {
  color: #8b0000;
}

.overlay {
  height: 100%;
  background: rgba(0, 0, 0, .7);
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.aboutMe_div {
  min-height: 760px;
}

/*****MEDIA QUERIES*****/

@media (max-width:500px){

  #about .container {
    margin: auto 0;
  }

}
